<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Imageflow.NativeRuntime.win-x86" version="2.0.0-preview8" targetFramework="net462" />
  <package id="Imageflow.NativeRuntime.win-x86_64" version="2.0.0-preview8" targetFramework="net462" />
  <package id="Imageflow.NativeTool.win-x86" version="2.0.0-preview8" targetFramework="net462" />
  <package id="Imageflow.NativeTool.win-x86_64" version="2.0.0-preview8" targetFramework="net462" />
  <package id="MSTest.TestAdapter" version="2.1.1" targetFramework="net462" />
  <package id="MSTest.TestFramework" version="2.1.1" targetFramework="net462" />
</packages>