<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Imageflow.NativeRuntime.win-x86" version="1.2.0-rc22" targetFramework="net461" />
  <package id="Imageflow.NativeRuntime.win-x86_64" version="1.2.0-rc22" targetFramework="net461" />
  <package id="Imageflow.NativeTool.win-x86" version="1.2.0-rc22" targetFramework="net461" />
  <package id="Imageflow.NativeTool.win-x86_64" version="1.2.0-rc22" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.4.0" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.4.0" targetFramework="net461" />
</packages>